.vscode/
.vs/

bin/
obj/

TestResults/
*.user
*.suo

src/ProjectTimeTracker.Api/projecttimetracker.db
src/ProjectTimeTracker.Api/*.db
src/ProjectTimeTracker.Api/*.db-shm
src/ProjectTimeTracker.Api/*.db-wal

*.db
*.db-shm
*.db-wal